[package]
name = "byondapi"
version = "0.4.7"
authors = ["tigercat2000 <nick.pilant@gmail.com>"]
edition = "2021"
description = "Idiomatic Rust bindings for BYONDAPI"
readme = "README.md"
license = "MIT"
repository = "https://github.com/spacestation13/byondapi-rs"
keywords = ["byond", "byondapi"]
exclude = [".vscode/*"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byondapi-sys = { path = "../byondapi-sys", version = "0.11.1" }
byondapi-macros = { path = "../byondapi-macros", version = "0.1.2" }
libloading = "0.8.3"
inventory = "0.3.15"
num_enum = "0.7.2"

[features]
default = ["byond-515-1621"]
byond-515-1621 = []
