name: Check and Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  check:
    name: Run checks
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target_name: i686-unknown-linux-gnu
          - os: windows-latest
            target_name: i686-pc-windows-msvc
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Toolchains
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target_name }}

      - name: Install g++ multilib (Ubuntu)
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install build-essential g++-multilib libc6-i386 libstdc++6:i386
        if: matrix.os == 'ubuntu-latest'

      - name: Check byondapi
        uses: actions-rs/cargo@v1
        with:
          toolchain: stable
          command: check
          args: --target ${{ matrix.target_name }}

  check_fmt:
    name: Check format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check fmt
        uses: actions-rs/cargo@v1
        with:
          toolchain: stable
          command: fmt
          args: --all -- --check

  run_test_windows:
    name: Run test (Windows)
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Toolchains
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: i686-pc-windows-msvc

      - name: Restore BYOND cache
        uses: actions/cache@v3
        with:
          path: ~/BYOND
          key: windows-byond

      - name: Set up byond
        run: bash ./tools/setup_byond_windows.sh

      - name: Run tests
        run: cargo test --package byondapi-test --target i686-pc-windows-msvc --test test -- test_byondapi_with_dreamdaemon --exact --nocapture

  run_test_linux:
    name: Run test (Ubuntu)
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Toolchains
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: i686-unknown-linux-gnu

      - name: Install g++ multilib
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install build-essential g++-multilib libc6-i386 libstdc++6:i386

      - name: Restore BYOND cache
        uses: actions/cache@v3
        with:
          path: ~/BYOND
          key: linux-byond

      - name: Set up byond
        run: |
          bash ./tools/setup_byond_linux.sh

      - name: Run tests
        run: cargo test --package byondapi-test --target i686-unknown-linux-gnu --test test -- test_byondapi_with_dreamdaemon --exact --nocapture
